* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
input {
  all: unset;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
 
button {
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background: none;
} 
textarea{
  outline: none;
}
html,
body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  /*  height: 100vh;*/
  overflow-x: hidden;

  vertical-align: middle;
  background-color: var(--bg-dark);
  outline: 0;
  /*text colors */
  --text-white: rgba(0, 0, 0, 1);
  /*цвет текста для темного стиля*/
  /*--text-dark: #000000; /*цвет текста для белого стиля*/
  --text-field-light: rgba(0, 0, 0, 0.51);

  /*цвет текстового поля для белого стиля*/
  /* --text-field-light:#DAE4DD; /*цвет текстового поля для темной темы*/
  --text-copyright: #000000;

  /*background colors */
  /* --bg-white:#FFFFFF; /*цвет фона и input для белого стиля*/
  --bg-dark: rgba(255, 255, 255, 1);
  /*цвет фона и input для темного стиля*/
  --bg-dark-light: rgba(249, 249, 252, 1);
  /*цвет фона для темного стиля*/
  /*--bg-light-grey:#F9F9FC; /*цвет фона для белого стиля*/
  --image-logo-light: url(../img/logo_light.svg);
  --lang-row-down: url(../img/vector_down.svg);
  --lang-row-up: url(../img/vector_up.svg);
  --toggle-back: rgba(249, 249, 252, 1);
  --slider-row_left: url(../img/row_left_black.svg);
  --slider-row-right: url(../img/row_right_black.svg);
  --social-link-instagram: url(../img/instagram.svg);
  --social-link-linkidin: url(../img/linkidin.svg);
  --social-link-facebook: url(../img/whatsapp.svg);
  --logo-footer: url(../img/logo_footer.svg);
  --circle: url(../img/circle_light.svg);
  --box-color: hsla(228, 27%, 76%, 1);

  /* --image-news1: url(../img/Group_40073.svg);
    --image-news4: url(../img/Group_40093.svg);
    --image-lighting: url(../img/moon.svg);
    --image-news-1: url(../img/Group_40080.svg);
    --image-news-2: url(../img/Group_40078.svg);
    --image-news-3: url(../img/Group_40089.svg);
    --rows-right: url(../img/right.svg);
    --rows-left: url(../img/left.svg);
    --lang-row-up: url(../img/Vector_up.svg);
    
    --image-central: url(../img/circle_light.svg);
    --image-footer-logo: url(../img/footer_logo_light.svg);
    --image_social_instagram: url(../img/instagram_light.svg);
    --image_social_linkedin: url(../img/in_light.svg);
    --image_social_facebook: url(../img/facebook_light.svg);*/
}

.dark {
  --bg-dark: rgba(7, 7, 38, 1);
  --text-white: rgba(255, 255, 255, 1);
  --bg-dark-light: #0c0c2d;
  /* --text-field-light: #b4b5b4;*/
  /* --text-copyright: rgba(255, 255, 255, 0.5);*/
  --image-logo-light: url(../img/logo_dark.svg);
  --lang-row-down: url(../img/vector_down_for_dark.svg);
  --lang-row-up: url(../img/vector_up_dark.svg);
  --toggle-back: rgba(237, 237, 239, 1);
  --slider-row_left: url(../img/row_left_white.svg);
  --slider-row-right: url(../img/row_right_white.svg);
  --social-link-instagram: url(../img/instagram_for_dark.svg);
  --social-link-linkidin: url(../img/linkidin_for_dark.svg);
  --social-link-facebook: url(../img/whatsapp_dark.svg);
  --logo-footer: url(../img/logo_footer_for_dark.svg);
  --circle: url(../img/ring_dark.svg);
  --box-color: hsla(227, 33%, 31%, 1);

  /* --image-news1: url(../img/Group_40072.svg);
    --image-news4: url(../img/Group_40092.svg);
    --image-lighting: url(../img/lighting.svg);
    --image-news-1: url(../img/Group_40077.svg);
    --image-news-2: url(../img/Group_40066.svg);
    --image-news-3: url(../img/Group_40088.svg);
    --rows-right: url(../img/right_dark.svg);
    --rows-left: url(../img/left_dark.svg);
    --lang-row-up: url(../img/Vector_up_dark.svg);
   
    --image-central: url(../img/ring_dark.svg);
    --image-footer-logo: url(../img/footer_logo_dark.svg);
    --image_social_instagram: url(../img/instagram.svg);
    --image_social_linkedin: url(../img/in.svg);
    --image_social_facebook: url(../img/facebook.svg);*/
}

/*.light {
    --bg-white:#FFFFFF;
    --text-dark: #000000;
    --bg-light-grey:#F9F9FC;
    --text-field-dark: rgba(0, 0, 0, 0.51);
}*/

.container {
  display: block;
  margin: 0 auto;
  position: relative;
}
.shadow {
  background-color:#00000080;

  opacity: 1;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
}
.side-menu {
  display: none;
}
.scroll_body {
  overflow-y: hidden;
  position: fixed;
}
.hamb {
  cursor: pointer;
  right: 0;
  padding: 35px 20px;
  position: fixed;
  z-index: 3;
  top: 5px;
}
.hamb-line {
  display: block;
  height: 5px;
  position: relative;
  width: 35px;
  background: var(--text-white) /* rgba(255, 255, 255, 0.52)*/;
  transform: matrix(1, 0, 0, -1, 0, 0);
  border-radius: 10px;
}
.hamb-line::before,
.hamb-line::after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  background: var(--text-white) /* rgba(255, 255, 255, 0.52)*/;
  transform: matrix(1, 0, 0, -1, 0, 0);
  border-radius: 10px;
}

.hamb-line::before {
  top: 10px;
}

.hamb-line::after {
  top: -11px;
}
/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}
#toggle {
  order: 1;
  width: 56px;
  height: 22px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--toggle-back);
  padding: 2px 2px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.toggle_light_right {
  width: 18px;
  height: 18px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  right: 2px;
  border-radius: 30px;
  padding: 1px 1px;
  position: absolute;
}
.toggle_dark_left {
  width: 18px;
  height: 18px;
  background: rgba(12, 12, 45, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 4px 3px 3px 3px;
  position: absolute;
  left: 2px;
}
.toggle_light_right img,
.toggle_dark_left img {
  margin: auto;
  display: flex;
  justify-content: center;
}

.nav {
  background: var(--bg-dark) /* #070726*/;
  overflow: hidden;
  right: 0;
  width: 264px;
  /*height: 845px;*/
  margin-top: 0;
  position: fixed;
  z-index: 2;
  max-height: 0%;
  transition: max-height 0.5s ease-out;
  top: 0;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  overflow-y: auto;
  white-space: nowrap;
}
.header_logo {
  background-image: var(--image-logo-light);
  background-repeat: no-repeat;
  min-width: 230px;
  background-position: left top;
  margin-left: 25px;
  cursor: pointer;
  margin-top: 8px;
  height: 12px;
}
.header_block {
  display: flex;
  margin: 35px 50px 0 50px;
  justify-content: center;
}
.up_block {
  max-width: 1920px;
  margin: 0 auto;
}
.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*.dropdown {
    position: relative;
    display: inline-block;
      
 }*/

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  width: 140px;
  margin-top: 18px;
  top: 0px;
}

.row_down {
  background: var(--lang-row-down) no-repeat left center;
  padding-left: 0;
  padding-right: 40px;
  width: 10px;
  height: 20px;
}
.how_it_works_header .row_down,
.how_it_works_header .row_up {
  height: auto;
}
.row_up {
  background: var(--lang-row-up) no-repeat left center;
  padding-left: 0;
  padding-right: 40px;
  display: none;
  width: 10px;
  height: 20px;
}
.row_down.r1,
.row_up.r1 {
  height: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--text-white);
  text-decoration: none;
  display: block;
  width: 77px;
  height: 22px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.contact_in_menu {
  width: fit-content;
}
.contact_in_header {
  display: none;
}
.lang_in_header {
  display: block;
  cursor: pointer;
  height: 100px;
}
.link,
#dropbtn {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  color: var(--text-white);
  margin: 0 25px;
  height: 20px;
}
#contact_in_header,
.button_view,
.contact_in_menu {
  position: relative;
  border: 1px solid transparent;
  height: 36px;
  color: var(--text-white);
  border-radius: 45px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  background: var(--bg-dark) /* #0C0C2D*/;
  vertical-align: middle;
  cursor: pointer;
  display: block;
  padding: 7px 30px;

  width: 100%;
}
#contact_in_header {
  margin: 0 1px;
  min-width: 158px;
}
#button_view_footer {
  padding: 7px 30px;
}
.contact_in_menu {
  max-width: 149px;
}

#contact_in_header::before,
#contact_in_menu::before {
  background: linear-gradient(
    92.11deg,
    #f73e94 5.48%,
    #97238a 37.96%,
    #5456ab 70.44%,
    #22dcd9 102.92%
  );
  border-radius: 34px;
  z-index: -2;
  position: absolute;
  content: "";
  width: calc(100% + 4px);

  right: -2px;
  top: -2px;
}
#contact_in_menu::before {
  height: 38px;
}
#contact_in_header::before {
  height: 38px;
}
.button_view::before {
  background: linear-gradient(
    92.11deg,
    #f73e94 5.48%,
    #97238a 37.96%,
    #5456ab 70.44%,
    #22dcd9 102.92%
  );
  border-radius: 34px;
  z-index: -2;
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: 38px;
  right: -2px;
  top: -2px;
}
.button_block {
  display: block;
  width: fit-content;
  margin: 0 auto;
  z-index: 0;
  position: relative;
}
.dropbtn {
  display: flex;
  flex-direction: row;
}
.main_info_wrapper {
  width: 100%;
  margin: 53px auto 0 auto;
  max-width: 2560px;
  text-align: center;
}
.main_header {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 47px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--text-white);
}
.main_header_p {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 60px;
  text-align: left;
  text-transform: uppercase;
  background: linear-gradient(
    99.94deg,
    #f73e94 0%,
    #97238a 33.33%,
    #5456ab 66.67%,
    #22dcd9 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  width: fit-content;
  margin: 47px auto 0 auto;
  letter-spacing: 8px;
}
.main_img {
  background: var(--circle);
  background-repeat: no-repeat;
  height: 540px;
  background-position: center center;
}

.second_block_wrapper {
  width: 100%;
  background: var(--bg-dark-light);
  position: relative;
}
.h3_block {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 8px;
  text-align: center;
  color: var(--text-white);
  margin-bottom: 60px;
}
.second_block {
  padding: 90px 195px;
}
.img_block_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1920px;
  flex-wrap: nowrap;
  margin: 0 auto 60px auto;
}
#anchor_filter {
  justify-content: center;
  flex-wrap: wrap;
}

.img_block_item {
  cursor: pointer;
}
.img_block_item:hover {
  transform: scale(1.1);
  transition: all 0.5s linear;
}
.link:hover,
#dropbtn:hover {
  background: linear-gradient(
    99.94deg,
    #f73e94 0%,
    #97238a 33.33%,
    #5456ab 66.67%,
    #22dcd9 100%
  );
  -webkit-background-clip: text;
  font-weight: 400;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
#contact_in_header:hover::before,
.button_view:hover::before {
  background: linear-gradient(
    75deg,
    #22dcd9 0%,
    #5456ab 33.3%,
    #97238a 66.67%,
    #f73e94 100%
  );
}
.third_block_wrapper {
  width: 100%;
}
.text_block {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  width: 800px;
  margin: 60px auto 60px auto;
  position: relative;
  color: var(--text-white);
}
.point_out {
  position: absolute;
}
#img1 {
  top: -63px;
  right: -194px;
}

.anime_img1 {
  transform: translateX(-150%);
  animation: ani1 1s forwards;
}
@keyframes ani1 {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
#img3 {
  top: 44px;
  left: -170px;
}
.anime_img3 {
  transform: translateX(50%);
  animation: ani3 1s forwards;
}
@keyframes ani3 {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateY(0);
  }
}

#img2 {
  top: 179px;
  right: -103px;
}

.anime_img2 {
  transform: translateX(150%);
  animation: ani2 1s forwards;
}
@keyframes ani2 {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateY(0);
  }
}

.itcss__btn_prev {
  background-image: var(--slider-row_left) !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.itcss__btn_next {
  background-image: var(--slider-row-right) !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.h3_slider_info {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 27px;
  line-height: 169%;
  letter-spacing: 4px;
  text-transform: uppercase;
  background: linear-gradient(
    99.94deg,
    #f73e94 0%,
    #97238a 33.33%,
    #5456ab 66.67%,
    #22dcd9 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  width: fit-content;
}
.h4_slider_info {
  font-family: "Montserrat";
  font-weight: 250;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--text-white);
  max-width: 451px;
  margin: 10px 0;
}
.slider_info {
  margin-left: 76px;
  width: 545px;
}
.text_slider {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: var(--text-white);
  max-width: 451px;
}
.in_slider {
  left: 4%;
}
.slider_img {
  width: 381px;
}
.slider_img img {
  display: block;
  margin: 0 auto;
}
.footer_wraper {
  width: 100%;
}
.footer_block {
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.instagran_footer {
  background-image: var(--social-link-instagram);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  background-size: 30px 30px;
}
.instagran_footer:hover,
.linkidin_footer:hover,
.facebook_footer:hover {
  background-size: 29px 29px;
}
.linkidin_footer {
  background-image: var(--social-link-linkidin);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  background-size: 30px 30px;
}
.facebook_footer {
  background-image: var(--social-link-facebook);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  background-size: 30px 30px;
}
.social_links {
  display: flex;
  margin-top: 23px;
  justify-content: space-between;
  width: 180px;
}
.other_color {
  background: var(--bg-dark-light);
}

.footer_logo_img {
  background-image: var(--logo-footer);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 170px 120px;
  height: 120px;
  width: 233px;
  /* max-width: px;*/
  display: inline-block;
  cursor: pointer;
}
.footer_logo_img:hover {
  background-size: 168px 118px;
}
.footer_navigation {
  margin-right: 179px;
}
.h4_footer {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 9px;
  color: var(--text-white);
  margin-bottom: 15px;
}
.li_footer {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 15px;
  line-height: 29px;
  color: var(--text-white);
}
.footer_contacts_wrapper {
  display: flex;
}
.footer_contacts {
  max-width: 232px;
}
.footer_wrapper {
  padding: 57px 127px 30px 127px;
}
#select_lang_button {
  display: block;
  position: relative;
  width: 140px;
  margin: 0 auto;
}
#drop_footer_lang {
  margin: 0 7px 0 0;
}
#button_view_footer {
  display: flex;
  justify-content: space-between;
}
.foot {
  padding-right: 10px;
}
.footer_lang .button_block {
  margin-top: 30px;
}
.copyright {
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 9px;
  line-height: 100%;
  color: var(--text-white);
  margin-top: 45px;
}
.copyright span {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 9px;
  line-height: 100%;
  color: var(--text-white);
}
.footer_navigation div {
  display: flex;
  flex-direction: column;
}
.li_footer.link {
  margin: 7px 0;
  width: fit-content;
}
.current_link {
  text-decoration: underline;
  text-underline-offset: 10px;
  pointer-events: none;
  cursor: default;
}
.filter_block_wrapper {
  display: flex;
  max-width: 1920px;
  justify-content: center;
  margin: 0 auto 115px auto;
}
.filter_header {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 47px;
  line-height: 100%;
  color: var(--text-white);
  text-align: left;
}
.filter_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 70px;
  width: 470px;
}
.filter_block,
.filter_img {
  width: 615px;
}
.filter_buttons .button_block {
  margin: 0 20px 20px 0;
}

.filter_block .main_header_p {
  margin: 47px 0 0 0;
}
.filter_img {
  text-align: end;
}
.filter_item_img {
  position: relative;
  width: 450px;
  margin: 30px 30px;
  display: none;
}
.filter_item_img p {
  position: absolute;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 5px;
  color: hsla(0, 0%, 100%, 1);
  bottom: 20px;
  left: 20px;
}
.img_block_item img {
  width: 450px;
}
.filter_item_img p.white {
  color: hsla(0, 0%, 0%, 1);
}
.hidden {
  display: none;
  transition: 17s ease-in-out;
}
.filter_item_img:hover {
  transform: scale(1.1);
  transition: all 0.5s linear;
}
.for_sevices {
  width: 580px;
}
.filter_item_img_s {
  width: 333px;
  height: 250px;
  position: relative;
  margin: 30px 30px;
}
.how_it_works_drop .img_block_items {
  flex-wrap: wrap;
}

.filter_item_img_s .img_block_item img {
  width: fit-content;
}
.front .img_block_item {
  width: fit-content;
  display: block;
  margin: 0 auto;
}
.back {
  padding: 30px 20px;
}
.filter_item_img_s p {
  position: absolute;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 5px;
  color: var(--text-white);
  bottom: 20px;
  left: 20px;
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  width: 333px;
  height: 250px;
  border-radius: 30px;
  background: var(--box-color);
}
.front {
  padding: 36px 60px;
}

.back {
  transform: rotateY(180deg);
}
.back .img_block_item {
  margin: auto;
}
.filter_item_img_s:hover .front {
  transform: rotateY(180deg);
  transition: all 1s ease-in-out;
}
.filter_item_img_s:hover .back {
  transform: rotateY(360deg);
  transition: all 1s ease-in-out;
}

#block_web .img_block_items,
#graphic .img_block_items,
#marketing .img_block_items {
  justify-content: center;
}

.back .img_block_item .card_txt {
  position: inherit;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  text-align: center;
}
.back .img_block_item:hover,
.front .img_block_item:hover {
  transform: none;
}
.for_solutions {
  width: 1120px;
  margin: 0 auto;
}
.how_it_works_header .h3_block {
  text-align: left;
  margin-top: 61px;
  margin-right: 10px;
}
.filter_block_wrapper_sol {
  display: flex;
  max-width: 1920px;
  justify-content: center;
  margin: 0 auto 115px auto;
  flex-direction: column;
}
.how_it_works_drop {
  max-width: 1180px;
  margin: 0 auto;
  display: none;
}

.how_it_works_drop .front p {
  letter-spacing: 0;
}
.how_it_works_header {
  display: flex;
  flex-direction: row;
}
.card_item_img {
  position: relative;
  width: 450px;
  margin: 30px 30px;
  display: block;
}
.last_hidden {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}

.card_item_img p {
  position: absolute;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 5px;
  color: hsla(0, 0%, 100%, 1);
  bottom: 20px;
  left: 20px;
}
.card_item_img:hover {
  transform: scale(1.1);
  transition: all 0.5s linear;
}
.form {
  display: flex;
  margin: 0 auto;
  max-width: 1150px;
  justify-content: space-around;
}
.name {
  width: 100%;
  height: 50px;
  border-radius: 30px;

}
.border_active {
border: 1px solid transparent;
			 background: linear-gradient(90.43deg, #5456ab 1.85%, #22dcd9 101.19% )!important;
			 box-shadow: 0 0 0 150px var(--bg-dark) inset;
			 background-origin: border-box;
}
.border_error {
  background: linear-gradient(99.94deg, #f73e94 0%, #97238a 33.33%) border-box;
}
input {
      width: calc(100% - (32px + 2px));
    height: 48px;
    background: var(--bg-dark) /* #070726*/;
    outline: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--text-white);
    padding-left: 32px;
    border-radius: 30px;
    
    top: 1px;
    left: 1px;
    position: relative;
        border: 1px solid hsla(218, 26%, 88%, 1);
}
#formmain {
  width: 537px;
  margin: 0 0 0 auto;
  order: 2;
}
.title_form {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--text-white);
}
#border_name,
#border_email,
#border_textarea {
  margin: 16px 0;
}
.text_field {
  width: calc(100% - 2px);
  height: 246px;
   border-radius: 30px;
  background: var(--bg-dark);
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--text-white) /* #DAE4DD*/;
  padding: 14px 32px;
  left: 1px;
  top: 1px;
  position: relative;
  border: 1px solid hsla(218, 26%, 88%, 1);
}
.textarea_block {
  width: 100%;
  height: 248px;
}
#border_textarea {
  border-radius: 32px;
  
}
.send_button {
  padding: 10px 20px;
  border: 1px solid transparent;
  background-image: linear-gradient(
    99.94deg,
    #f73e94 0%,
    #97238a 33.33%,
    #5456ab 66.67%,
    #22dcd9 100%
  );
  border-radius: 20px;
  box-shadow: 0 0 0 100px var(--bg-dark) inset;
  background-origin: border-box;
  margin: 0 auto;
  display: flex;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0;
  margin-top: 44px;
  color: var(--text-white);
      opacity: 0.5;
 
  
}
#formname-error,
#formemail-error,
#formtext-error {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  leading-trim: Cap height;
  line-height: 100%;
  letter-spacing: 0;
  color: #97238a;
  display: flex;
  justify-content: right;
  margin-top: 3px;
}

.sol3 {
  padding: 17px 18px;
}
.first_list {
  flex-wrap: nowrap;
}
.f1 {
  margin: 18px;
}
.about_link {
  display: none;
  order: 3;
}
.adress,
.email_link,
.tel {
  display: none;
}
.tel {
  pointer-events: none;
  cursor: default;
}
.social_links.in_menu {
  display: none;
}
.button_block.in_slider.s1 {
  display: none;
}
.img_block_item.f1.s1 {
  display: none;
}

.img_form {
  display: flex;
  margin: auto 0;
}
.result {
  width: 550px;
  border-radius: 30px;
  background: var(--bg-dark);
  padding: 30px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 12;
}
.result div h3 {
 font-family: 'Montserrat';
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  line-height: 169%;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin: 0 auto;
  text-transform: uppercase;
  color: var(--text-white);
  text-transform: uppercase;
    background: linear-gradient(99.94deg, #f73e94 0%, #97238a 33.33%, #5456ab 66.67%, #22dcd9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    width: fit-content;
}
.result div p {
font-family: 'Montserrat';
font-weight: 300;
font-size: 18px;
line-height: 150%;
letter-spacing: 0;
text-align: center;
color: var(--text-white);
margin: 45px 0;

}
.close::before,
.close::after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  background: #0d0000;
  transform: matrix(1, 0, 0, -1, 0, 0);
  border-radius: 10px;

  top: 0;
}
.close::before {
  transform: rotate(-45deg);
}
.close::after {
  transform: rotate(45deg);
}

.close {
  display: block;
  height: 5px;
  position: relative;
  width: 35px;
  float: right;
  transform: matrix(1, 0, 0, -1, 0, 0);
  border-radius: 10px;
}
.result div {
  margin: 30px;
}

@media (min-width: 1025px) {
  .hamb {
    display: none;
  }
  .nav {
    min-height: fit-content;
    height: 100%;
    float: right;
    max-width: 1590px;
    width: 100%;
    right: 0;
    position: relative;
    /* z-index: 99999;*/
    display: flex;
    padding: 4px 1px;
    justify-content: space-around;
  }
  .menu {
    display: flex;
    justify-content: center;
    padding: 0px;
    height: 100%;
    flex-direction: row;
    width: 100%;
    margin: auto 0;
  }

  .contact_in_menu {
    display: none;
  }
  .contact_in_header {
    display: block;
    width: fit-content;
    z-index: 0;
  }
}
@media (max-width: 2350px) {
  .f2 {
    display: none;
  }
}
@media (max-width: 2100px) {
  .last_hidden {
    display: block;
  }
  #block_solution .img_block_items {
    flex-wrap: wrap;
  }
  .text_block {
    width: 560px;
  }
}
@media (max-width: 1919px) {
  #in_project,
  #block_solution {
    padding: 90px 90px;
  }
}
@media (max-width: 1700px) {
  .img_block_item.f1 img {
    width: 333px;
  }
  .second_block {
    padding: 90px 85px;
  }
  #formmain {
    margin: 0;
  }
  .filter_block_wrapper {
    margin: 0 180px 115px 180px;
  }
  .for_solutions {
    margin: 0 180px;
  }
  .filter_img {
    width: 35%;
    display: flex;
  }
  .filter_block {
    width: 55%;
  }
}
@media (max-width: 1350px) {
  .front {
    padding: 25px 25px;
  }
  .back {
    padding: 20px 20px;
  }

  .filter_item_img_s {
    margin: 15px;
  }
  .back .img_block_item .card_txt {
    font-size: 14px;
  }
  .form {
    justify-content: space-between;
  }
}
@media (max-width: 1300px) {
  .header_logo {
    background-size: 190px;
    margin-left: 0;
  }
  .link,
  #dropbtn,
  #contact_in_header,
  .button_view {
    font-size: 16px;
  }
  .second_block {
    padding: 90px 50px;
  }
  .slider_info {
    margin-left: 60px;
  }

  .filter_block_wrapper,
  .filter_block_wrapper_sol {
    margin: 0 80px 115px 80px;
  }
  .for_solutions {
    width: 100%;
    margin: 0 auto;
  }
  .filter_item_img_s {
    width: 270px;
    height: 203px;
  }
  .front,
  .back {
    width: 270px;
    height: 203px;
  }
  .filter_item_img_s .img_block_item img {
    width: 75%;
    display: block;
    margin: 0 auto;
  }
  .filter_item_img_s p {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  .link,
  #dropbtn {
    margin: 0 13px;
  }
  .header_block {
    margin: 35px 30px 0 30px;
  }
  .link,
  #dropbtn,
  #contact_in_header {
    font-size: 15px;
  }
  .img_block_item.f1 img {
    width: 300px;
  }
  .slider_img img {
    height: 100%;
  }
  .slider_info {
    width: 700px;
  }
  .slider_img {
    height: 238px;
    margin-top: 20px;
  }
  .slider_img.nib img {
    height: 90%;
  }
  .h3_slider_info {
    font-size: 25px;
    letter-spacing: 2px;
  }
  .footer_wrapper {
    padding: 57px 85px 30px 45px;
  }
  .footer_logo_img {
    background-size: 130px 92px;
  }
  .filter_block_wrapper {
    margin: 0 50px 115px 50px;
  }
  .filter_block_wrapper_sol {
    margin: 0 50px 55px 50px;
  }

  #in_project {
    padding: 90px 50px;
  }
  #anchor_filter .img_block_item img,
  #anchor_filter .filter_item_img {
    width: 365px;
  }
}
@media (max-width: 1130px) {
  .filter_header {
    font-size: 46px;
  }
}
@media (max-width: 1100px) {
  .filter_img img {
    width: 100%;
  }
  .filter_block {
    width: 67%;
  }
  .filter_block.for_solutions {
    width: 100%;
  }
  .img_form img {
    width: 90%;
    order: 1;
  }
}
@media (max-width: 1024px) {
  .dropdown-content a {
    text-align: center;
  }
  .shadow {
    display: block;
  }
  .header_block {
    justify-content: left;
  }
  .header_block {
    margin: 35px 50px 140px 50px;
  }
  .toggle_link {
    order: 1;
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  .dropdown.lang_in_header {
    order: 2;
    width: 104px;
    margin: 0 auto 25px auto;
    height: 60px;
  }
  .about_link {
    display: block;
    margin: 0 auto 30px auto;
  }
  .services_link {
    order: 4;
    margin: 0 auto 30px auto;
  }
  .project_link {
    order: 5;
    margin: 0 auto 30px auto;
  }
  .solutions_link {
    order: 6;
    margin: 0 auto 60px auto;
  }
  .contact_in_menu {
    order: 7;
    margin: 0 auto 60px auto;
  }
  .adress {
    display: block;
    order: 8;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 15px;
    leading-trim: Cap height;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
    color: var(--text-white);
  }
  .email_link {
    display: block;
    order: 9;
    margin: 30px auto;
  }
  .tel {
    display: block;
    order: 10;
    pointer-events: auto;
    cursor: pointer;
    margin: 0 auto;
  }
  .menu,
  .dropbtn {
    justify-content: center;
  }
  .dropdown-content {
    width: 100%;
  }

  .dropbtn {
    margin: 0;
  }
  #dropbtn,
  .link {
    margin: 0 auto;
  }
  .row_up,
  .row_down {
    height: 16px;
    padding-right: 0px;
  }

  .link,
  #dropbtn {
    font-size: 18px;
  }
  .email_link .li_footer.link,
  .tel .li_footer.link {
    font-size: 15px;
  }
  .social_links.in_menu {
    display: flex;
    margin: 30px auto;
    order: 11;
  }
  .img_block_item.f1 img {
    width: 270px;
  }
  footer {
    display: none;
  }

  .in_contacts {
    justify-content: space-between;
  }
}
@media (max-width: 950px) {
  .main_header,
  .filter_header {
    font-size: 43px;
  }
  .main_header_p {
    font-size: 55px;
  }
  .img_block_item.f1.f2 {
    display: block;
  }
  .first_list {
    flex-wrap: wrap;
  }
  .text_block {
    width: 450px;
  }
  #img3 {
    left: -128px;
  }
  #img1 {
    right: -132px;
  }
  #img2 {
    top: 220px;
  }
  .slider_img {
    order: 3;
    height: fit-content;
    margin: 25px auto 0 auto;
  }
  .slider_info {
    order: 1;
    margin: 0 auto;
    width: 545px;
  }
  .h3_slider_info {
    font-size: 27px;
    margin: 0 auto;
    text-align: center;
    line-height: 150%;
  }
  .h4_slider_info {
    margin: 30px auto;
    text-align: center;
  }
  .text_slider {
    margin: 0 auto 30px auto;
    text-align: center;
  }
  .button_block.in_slider.s1 {
    display: block;
    order: 2;
  }
  .button_view.prog7.s2,
  .button_view.prog.s2 {
    display: none;
  }
  .in_slider {
    left: 0%;
  }
  .img_block_item.f1.s1 {
    display: block;
  }
  #block_web .img_block_items,
  #graphic .img_block_items,
  #marketing .img_block_items {
    flex-wrap: wrap;
    width: fit-content;
  }
  .filter_item_img_s {
    width: 333px;
    height: 250px;
  }
  .front,
  .back {
    width: 333px;
    height: 250px;
  }
  .how_it_works_drop .front,
  .how_it_works_drop .back,
  .how_it_works_drop .filter_item_img_s {
    width: 270px;
    height: 203px;
  }
  .filter_item_img_s .img_block_item img {
    width: 100%;
  }
  .how_it_works_drop .filter_item_img_s .img_block_item img {
    width: 75%;
  }
  .img_block_item.f1 img {
    width: 333px;
  }
  .filter_block {
    width: 365px;
  }
  .for_sevices {
    width: 390px;
  }
  #fb1,
  #fb1 .filter_buttons {
    width: 425px;
  }
  .filter_img {
    width: 46%;
  }
  .back .img_block_item .card_txt {
    font-size: 18px;
  }
  .how_it_works_drop .back .img_block_item .card_txt {
    font-size: 14px;
  }

  #anchor_filter .img_block_item img,
  #anchor_filter .filter_item_img {
    width: 333px;
  }
  #anchor_filter .filter_item_img {
    margin: 15px 15px;
  }

  #anchor_filter .filter_item_img p {
    font-size: 16px;
    letter-spacing: 3px;
  }
  .form {
    flex-direction: column;
  }
  .img_form {
    order: 2;
    margin-top: 30px;
  }
  #formmain {
    order: 1;
  }
  .img_form img {
    width: fit-content;
    margin: 30px auto 0 auto;
  }
  #formmain {
    margin: auto;
    width: 100%;
  }

}
@media (max-width: 850px) {
  .img_block_item.f1 img {
    width: 450px;
  }
  #block_web .filter_item_img_s,
  #block_web .front,
  #block_web .back,
  #graphic .filter_item_img_s,
  #graphic .front,
  #graphic .back,
  #marketing .filter_item_img_s,
  #marketing .front,
  #marketing .back {
    width: 450px;
    height: 338px;
  }
  .front {
    padding: 60px 60px;
  }
  .how_it_works_drop .front {
    padding: 25px 25px;
  }
  .filter_item_img_s .img_block_item img {
    width: 278px;
  }

  #block_web .filter_item_img_s:last-child .img_block_item img {
    width: 200px;
  }
  .filter_item_img_s p {
    font-size: 18px;
  }
  .how_it_works_drop .filter_item_img_s p {
    font-size: 16px;
  }

  #anchor_filter .img_block_item img,
  #anchor_filter .filter_item_img {
    width: 450px;
  }
  .in_contacts .filter_img {
    width: 41%;
  }
}
@media (max-width: 769px) {
  .in_contacts .filter_img {
    margin: 100px auto 0 auto;
    width: 60%;
  }
  .filter_block_wrapper {
    flex-direction: column;
  }
  .filter_header,
  .filter_block .main_header_p {
    text-align: center;
  }
  .filter_block {
    margin: 0 auto;
  }
  .filter_block .main_header_p {
    margin: 47px auto 0 auto;
  }
  .filter_buttons {
    justify-content: center;
  }
  .for_sevices,
  .filter_block {
    width: 100%;
    margin: 70px auto 0 auto;
  }
  .filter_img {
    margin: 35px auto 0 auto;
  }
  .filter_img {
    width: 60%;
  }
  .filter_block_wrapper {
    margin: 0 auto 90px auto;
  }
  .filter_block_wrapper_sol {
    margin: 0 auto 55px auto;
  }
  #fb1 .filter_buttons {
    width: 80%;
    margin: 70px auto 0 auto;
  }
  #fb1 {
    width: 100%;
  }
  .how_it_works_header {
    justify-content: center;
  }
  .filter_buttons .button_block {
    margin: 0 10px 20px 10px;
  }
}
@media (max-width: 767px) {
  .img_block_item.f1.f2,
  .img_block_item.f1.s1 {
    display: none;
  }
  .main_info_wrapper {
    width: 95%;
  }
  #img1 {
    right: -58px;
  }
  .text_block {
    width: 400px;
  }
  #img3 {
    top: 46px;
    left: -116px;
  }
  .point_out.anime_img3 img,
  .point_out.anime_img2 img,
  .point_out.anime_img1 img {
    width: 90%;
  }
  #img2 {
    right: -114px;
    top: 216px;
  }
  .img_block_item.f1 img {
    width: 450px;
  }
}
@media (max-width: 700px) {
  .point_out.anime_img3,
  .point_out.anime_img2,
  .point_out.anime_img1 {
    display: none;
  }
  .text_block {
    width: 100%;
  }
  .slider_info {
    width: fit-content;
  }
  .h3_slider_info.s4 {
    width: 250px;
  }
}
@media (max-width: 639px) {
  .how_it_works_drop .front,
  .how_it_works_drop .back,
  .how_it_works_drop .filter_item_img_s {
    width: 333px;
    height: 250px;
  }
  .how_it_works_drop .filter_item_img_s .img_block_item img {
    width: 100%;
  }
  .how_it_works_drop .back .img_block_item .card_txt,
  .how_it_works_drop .filter_item_img_s p {
    font-size: 18px;
  }

  .img_form img {
    width: 68%;
  }
  .result {
    width: 80%;
  }
  .result div {
    margin: 20px;
}
.result div h3{
  font-size: 55px;
}
.result div p{
  font-size: 17px;
}
}
@media (max-width: 600px) {
  .main_img {
    background-size: 100%;
    height: 484px;
  }

  .img_block_item.f1 img {
    width: 333px;
  }
  #block_web .filter_item_img_s,
  #block_web .front,
  #block_web .back,
  #graphic .filter_item_img_s,
  #graphic .front,
  #graphic .back,
  #marketing .filter_item_img_s,
  #marketing .front,
  #marketing .back {
    width: 333px;
    height: 250px;
  }
  .filter_item_img_s .img_block_item img,
  #block_web .filter_item_img_s:last-child .img_block_item img {
    width: 85%;
  }

  .img_block_items {
    margin: 0 auto 30px auto;
  }
  .back .img_block_item .card_txt {
    font-size: 16px;
  }
  #block_solution,
  .second_block {
    padding: 75px 25px;
  }
  .filter_item_img_s {
    margin: 15px auto;
  }

  #anchor_filter .img_block_item img,
  #anchor_filter .filter_item_img {
    width: 365px;
  }
}

@media (max-width: 500px) {
  .slider_img,
  .slider_img img {
    width: 100%;
  }
  .header_block {
    margin: 35px 40px 100px 40px;
  }
  .main_info_wrapper {
    width: 90%;
  }
  #anchor_filter .img_block_item img,
  #anchor_filter .filter_item_img,
  .img_block_item img {
    width: 333px;
  }
  #fb1 .filter_buttons {
    width: 90%;
  }
  .card_item_img p {
    font-size: 16px;
    letter-spacing: 2px;
  }
}
@media (max-width: 424px) {
  .main_header,
  .filter_header {
    font-size: 42px;
    width: 94%;
    margin: 0 auto;
  }
  .main_header_p {
    margin: 44px auto 0 auto;
  }
  .main_img {
    background-size: 125%;
    height: 484px;
  }
  .main_info_wrapper {
    width: 100%;
  }
  .h3_block {
    margin-bottom: 30px;
  }
  .how_it_works_header .row_down,
  .how_it_works_header .row_up {
    margin-bottom: -30px;
  }
  .slider_img {
    height: 294px;
  }
  .about_link,
  .services_link,
  .project_link {
    margin: 0 auto 20px auto;
  }
  .solutions_link,
  .contact_in_menu {
    margin: 0 auto 40px auto;
  }
  .email_link {
    margin: 20px auto;
  }
  .for_solutions .main_header_p {
    letter-spacing: 4px;
  }
  .in_contacts .main_header_p {
    letter-spacing: 6px;
  }
      .result div h3 {
        font-size: 48px;
        letter-spacing: 6px;
    }
        .result div {
        margin: 20px 0 0 0;
    }
        .result div p {
        font-size: 16px;
        margin: 25px 0;
    }
    .result{
      width: 90%;
    }
    
}
@media (max-width: 389px) {
  .main_header,
  .filter_header {
    font-size: 40px;
  }
  .main_header_p {
    font-size: 54px;
  }
  .header_block {
    margin: 35px 20px 85px 20px;
  }
  
  input{
    padding: 0 14px 0 14px;
  }
  .text_field{
    padding: 14px ;
  }
}
@media (max-width: 374px) {
  .main_header,
  .filter_header {
    font-size: 39px;
  }
  .main_header_p {
    margin: 35px auto 0 auto;
  }
  .main_header_p {
    font-size: 48px;
  }
  .main_img {
    height: 390px;
  }
  .img_block_item.f1 img {
    width: 280px;
  }
  .link,
  #dropbtn,
  #contact_in_header,
  .button_view {
    font-size: 14px;
  }

  #block_web .filter_item_img_s,
  #block_web .front,
  #block_web .back,
  #graphic .filter_item_img_s,
  #graphic .front,
  #graphic .back,
  #marketing .filter_item_img_s,
  #marketing .front,
  #marketing .back {
    width: 280px;
    height: 210px;
  }
  .front,
  .back {
    padding: 20px 20px;
  }
  .filter_item_img_s p {
    font-size: 15px;
  }

  .back .img_block_item .card_txt {
    font-size: 15px;
  }

  #anchor_filter .img_block_item img,
  #anchor_filter .filter_item_img,
  .img_block_item img {
    width: 280px;
  }
  .how_it_works_drop .front,
  .how_it_works_drop .back,
  .how_it_works_drop .filter_item_img_s {
    width: 280px;
    height: 210px;
  }
  #anchor_filter .filter_item_img p {
    font-size: 14px;
    letter-spacing: 2px;
  }
  .how_it_works_drop .back .img_block_item .card_txt,
  .how_it_works_drop .filter_item_img_s p {
    font-size: 13px;
  }

  .how_it_works_drop .filter_item_img_s .img_block_item img {
    width: 75%;
  }
  .how_it_works_header .h3_block {
    margin-right: 5px;
  }
  .how_it_works_header .h3_block {
    font-size: 16px;
    letter-spacing: 6px;
  }
  .for_solutions .main_header_p {
    font-size: 45px;
  }
  .in_contacts .main_header_p {
    letter-spacing: 4px;
  }
  .card_item_img p {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .title_form{
    font-size: 16px;
  }
}
@media (max-height: 610px) {
  .side-menu:checked ~ nav {
    bottom: auto;
  }
}
