.shadow {
   background-color: rgba(217, 217, 217, 0.2);
   opacity: 1;
   z-index: 1;
   width: 100%;
   height: 100%;
   position: fixed;
   display: block;
   
   
}
.header {
   max-width: 1440px;
   margin: 0 auto;
}

a {
   text-decoration: none;
   color: inherit; 
}


/* Header */
.header_page {
   display: flex;
   justify-content: space-around;
   padding: 0 50px 0 50px;
   justify-content: flex-end;
   
  
}
.header_logo {
   width: 85px;
   display: flex;
   justify-content: flex-start;
   background-image: url(../img/inexit.svg);
   background-repeat: no-repeat;
   background-size: 85px 42px ;
   height: 42px;
   top: 35px;
   position: relative;
   
   
 }


.header_button {
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0em;
   text-align: left;
   color: rgba(255, 255, 255, 1);
   width: 183px;
   height: 56px;
   top: 50px;
   border-radius: 49px;
   border: 1.5px;
   width: 137px;
   height: 52px;
   flex-shrink: 0;
   border: 1.5px solid rgba(46, 236, 197, 1);
   text-align: center;
   padding: 12px 9px 12px 9px;
   margin-top: 35px;
   margin-left: 30px;




}
.header_button:hover {
   background-image: linear-gradient(270deg, rgba(46, 236, 197, 0) 0%, rgba(46, 236, 197, 0.5) 43.69%, rgba(46, 236, 197, 0.0693742) 92.19%, rgba(255, 177, 177, 0) 100%);
   animation: slidebg 5s linear infinite;
   border: 1.5px solid white;
   transform: scale(0.98);
}


/*menu */

.link_text {
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0em;
 
   background: linear-gradient(149deg, #B5FEEF 0%, #2EECC5 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  width: 264px;
  display: block;
  text-align: center;
  margin-bottom: 25px;
}
.link_text_about {
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0em;
  
   background: linear-gradient(149deg, #B5FEEF 0%, #2EECC5 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  width: 264px;
  display: block;
  text-align: center;
  margin-bottom: 25px;
}
.link_text img {
   width: 85px;
   height: 42px;
}
.link:hover {
   background: rgba(46, 236, 197, 1);
   -webkit-background-clip: text;
   -webkit-text-fill-color: black;
   text-shadow: rgba(34, 169, 141, 1) 1px 0 10px;
  

   
}



.link_home_page, .link_portfolio {
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0em;
 
   background: linear-gradient(149deg, #B5FEEF 0%, #2EECC5 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  width: 264px;
  display: block;
  text-align: center;
  display: block;
  margin-bottom: 25px;
}





/* Nav menu */
.nav {

   background: rgba(0, 0, 0, 1);
   overflow: hidden;
   left: 0;
   width: 264px;
   /*height: 845px;*/
   margin-top: 0;
   position: fixed;
   z-index: 2;
   max-height: 0;
   transition: max-height .5s ease-out;
   top: 0;
   bottom: 0;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   opacity: 0.85;
   
}

.menu {
   height: 100%;
   display: flex;
   flex-direction: column;
   margin-top: 200px;
   padding: 0;

}


ul {
   list-style: none;
}

/* Menu Icon */
.hamb {
   cursor: pointer;
   left: 0;
   padding: 57px 38px;
   position: fixed;
   z-index: 3;

}

/* Style label tag */

.hamb-line {

   display: block;
   height: 5px;
   position: relative;
   width: 25px;
   background: linear-gradient(150deg, #2EECC5 0%, #3A796D 100%);

   transform: matrix(1, 0, 0, -1, 0, 0);
   border-radius: 10px;
}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {

   content: '';
   display: block;
   height: 100%;
   position: absolute;
   transition: all .2s ease-out;
   width: 100%;
   background: linear-gradient(150deg, #2EECC5 0%, #3A796D 100%);
   transform: matrix(1, 0, 0, -1, 0, 0);
   border-radius: 10px;
   width: 36px;
}

.hamb-line::before {
   top: 10px;
}

.hamb-line::after {
   top: -11px;
}

.type {
   display: flex;
}
.side-menu {
   display: none;

}

/* Toggle menu icon */
.side-menu:checked~nav {
   max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
   background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
   transform: rotate(-45deg);
   top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
   transform: rotate(45deg);
   top: 0;
}





/* Responsiveness */
@media screen and (min-width: 1100px) and (max-width:2560px) {
   .nav {
      max-height: 100px;
      float: right;
      max-width: 971px;
      width: 100%;
      right: 0;
      height: 100px;
      position: relative;
      z-index: 99999;
      display: flex;
      justify-content: space-around;
      background: none;
      opacity: 1;
   }
   .link_home_page, .link_portfolio {
 
     display: none;
   }
   .social_block_nav {
      display: none;
   }
   .link_logo {
      display: none;
   }

  .nav_shadow {
      display: none;
   }

   .menu li {
      float: left;
   }

  
   
   .hamb {
      display: none;
   }

   .menu {
      display: flex;
      padding: 0px;
      height: 100%;
      flex-direction: row;
      width: 100%;
      margin-top: 45px;
      justify-content: flex-end;
      

   }

   .menu_link_contact {
      display: none;
   }

  
   .link_contact {
      position: relative;
   }



   
   .header_logo {
      width: 365px;
      display: flex;
      justify-content: flex-start;
      background-image: url(../img/inexit.svg);
      background-repeat: no-repeat;
      background-size: 85px 42px ;
      height: 42px;
      top: 35px;
      position: relative;
     
      
      
    }
    .header_page {
      display: flex;
      justify-content: space-around;
      padding: 0;
      max-width: 980px;
      margin: 0 auto;


  
   }
   .link_text_about {
      background: rgba(255, 255, 255, 1);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
      width: 204px;
   }
   .link_text {
     
      
      background: rgba(255, 255, 255, 1);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
     
   }
  

}
@media(max-width:1400px) {
   .header_page {
      display: flex;
      justify-content: space-around;
    
}
}

@media screen and (min-width: 1100px) and (max-width:1360px) {
   .nav {
      width: 700px;
   }
   .header_page {
      max-width: 900px;
   }
   .header_logo {
      width: 85px;
   }
}
@media(max-width:1100px) {
   .header_page {
     justify-content: flex-end;
}

}
@media(max-width:700px) {
   .header_page {
      padding: 0 50px 0 50px;
   }
   
    
}

@media(max-width:400px) {
   .header_page {
      padding:0 20px 0 20px;
   }
}



    


