html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.slider {
  width: 1114px;
  margin: 0 auto 0 145px;
}

.slick-slide {
  margin: 0px 45px;
  width: 427px;
  height: 274px;
  border-radius: 6px;
  border: 1px solid rgba(46, 236, 197, 0.50);
  background: rgba(46, 236, 197, 0.05);
  box-shadow: 0px 0px 106px 0px rgba(46, 236, 197, 0.10);


}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: transparent;

}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .5;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}



.block_slider {

  width: 100%;
  height: 284px;

  margin: 0 auto;
  margin-top: 0;
}

.left {

  width: 45px;
  height: 45px;
  position: relative;
  margin-left: 125px;
  padding: 0;
  border-radius: 49px;
  border: 1.5px solid rgba(46, 236, 197, 0.50);
  background: linear-gradient(166deg, #19201F 0%, #323939 100%);
  box-shadow: 0px 0px 106px 0px rgba(46, 236, 197, 0.10);
  top: -163px;


}

.left1 {

  width: 45px;
  height: 45px;
  position: relative;
  margin-left: 0px;
  padding: 0;
  border-radius: 49px;
  border: 1.5px solid rgba(46, 236, 197, 0.50);
  background: linear-gradient(166deg, #19201F 0%, #323939 100%);
  box-shadow: 0px 0px 106px 0px rgba(46, 236, 197, 0.10);
  top: -280px;


}

.left::before {
  content: '';

  background-image: url(../img/Arrow2_left.svg);
  position: relative;
  background-size: 17px 17px;
  width: 45px;
  height: 45px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  stroke-width: 3px;
  stroke: #2C8E7A;
}

.left1::before {
  content: '';

  background-image: url(../img/Arrow2_left.svg);
  position: relative;
  background-size: 17px 17px;
  width: 45px;
  height: 45px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  stroke-width: 3px;
  stroke: #2C8E7A;
}

.right {
  width: 45px;
  height: 45px;
  position: relative;
  margin-left: 380px;
  padding: 0;
  border-radius: 49px;
  border: 1.5px solid rgba(46, 236, 197, 0.50);
  background: linear-gradient(166deg, #19201F 0%, #323939 100%);
  box-shadow: 0px 0px 106px 0px rgba(46, 236, 197, 0.10);
  top: -163px;


}

.right1 {
  width: 45px;
  height: 45px;
  position: relative;
  margin-left: 910px;
  padding: 0;
  border-radius: 49px;
  border: 1.5px solid rgba(46, 236, 197, 0.50);
  background: linear-gradient(166deg, #19201F 0%, #323939 100%);
  box-shadow: 0px 0px 106px 0px rgba(46, 236, 197, 0.10);
  top: -280px;


}



.right::before {
  content: '';

  background-image: url(../img/Arrow2_right.svg);
  position: relative;
  background-size: 17px 17px;
  width: 45px;
  height: 45px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;

}

.right1::before {
  content: '';

  background-image: url(../img/Arrow2_right.svg);
  position: relative;
  background-size: 17px 17px;
  width: 45px;
  height: 45px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;

}

.left:hover,
.right:hover,
.left1:hover,
.right1:hover {
  border: 1.5px solid #2EECC5;
  box-shadow: 0px 0px 38px 0px rgba(46, 236, 197, 0.20);
}

.arrows {

  display: flex;
  cursor: pointer;
}

.header_slider {
  font-family: 'Josefin Slab';
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  background: linear-gradient(91.36deg, #D97F2C -7.38%, #E9D5A4 99.56%, #E9D6A5 99.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  Width: 918px;
  Height: 120px;
  margin: 0 auto 75px 258px;


}

.item1_img {
  max-width: 38px;
  height: 38px;
  margin-left: 34px;
  margin-top: 34px;
}

.item2_img {
  max-width: 38px;
  height: 28px;
  margin-left: 34px;
  margin-top: 34px;
}

.item3_img {
  max-width: 38px;
  height: 28px;
  margin-left: 34px;
  margin-top: 34px;
}

.item4_img {
  max-width: 38px;
  height: 38px;
  margin-left: 34px;
  margin-top: 34px;
}

.item5_img {
  max-width: 38px;
  height: 38px;
  margin-left: 34px;
  margin-top: 34px;
}

.item_header {
  font-family: 'Josefin Slab';
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(233, 214, 165, 1);
  margin-left: 34px;
  margin-top: 32px;


}

.item_text {
  font-family: 'Josefin Sans';
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(236, 218, 177, 1);
  width: 181px;
  margin-left: 34px;
  margin-top: 18px;

}

.central .slick-slide {
  margin: 60px 30px;
  width: 281px;
  height: 375px;
  background: linear-gradient(219deg, rgba(49, 49, 52, 0.70) 0%, rgba(44, 44, 45, 0.70) 44.12%, rgba(41, 41, 41, 0.70) 100%);
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.10);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: none;
  transform: scale(0.8);
  transition: all 0.4s ease-in-out;
  padding: 37px 30px 30px 30px;
  opacity: 0.7;


}

.central .slick-slide,
.central .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
  transform: scale(1, 1);
  transition: all 0.4s ease-in-out;

}

.central.slick-center,
.central .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] {
  transform: scale(1.25, 1.33);
}

.central .slick-current.slick-active {
  transform: scale(1.25, 1.33);


}

.central .slick-center {
  opacity: 1;

}

.central .slick-list {
  position: relative;
  width: 1000px;
  display: block;
  overflow: hidden;
  height: 505px;
  margin: 0;
  padding: 0;
}

#slider_block4 {
  width: 1114px;
  margin: 0 auto 0 0px !important;
}

.central_slider_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);



}

.central_slider_text {
  font-family: 'Montserrat';
  font-size: 9px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);

  margin-top: 25px;

}

.central_slider_price_list {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;

  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.75);

}

.central_slider_term {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;

  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 0;


}

.central_slider_price {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  position: absolute;
  bottom: 20px;
  width: 220px;
}

.central_slider_button {
  width: 100px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 41px;
  border: 1.5px solid #2EECC5;
  background: rgba(46, 236, 197, 0.10);
  box-shadow: 0px 0px 38px 0px rgba(46, 236, 197, 0.10);
}

.central_slider_button a {
  color: #FFF;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(255, 255, 255, 1);
  padding: 9px 9px 9px 7px;
  width: 80px;
  height: 37px;
  display: block;
}

.central_slider_button:hover {
  background-image: linear-gradient(270deg, rgba(46, 236, 197, 0) 0%, rgba(46, 236, 197, 0.5) 43.69%, rgba(46, 236, 197, 0.0693742) 92.19%, rgba(255, 177, 177, 0) 100%);
  animation: slidebg 5s linear infinite;
  border: 1.5px solid white;
  transform: scale(0.98);
}

.central_slider_button a::after {
  content: "";
  background-image: url(../img/arrow_right.svg);
  background-size: 13px 13px;
  width: 13px;
  height: 13px;
  display: block;
  top: -14px;
  position: relative;
  left: 60px;
}

.timeline-container .vertical-scrollable-timeline .block_4.active::after {
  height: 510px;
}

.timeline-container .vertical-scrollable-timeline .block_5 {
  padding: 0px 0px 0px 0px;
}




@media(max-width:1439px) {
  .slider {
    margin: 0 auto;
  }

  .left {
    margin-left: -20px;
  }

  .header_slider {
    margin: 0 auto 75px auto;
  }
}

@media(max-width:1200px) {
  .slider {
    width: 810px;
  }

  .left {
    top: -183px;
  }

  .right {
    top: -183px;
  }
}

@media(max-width:1100px) {
  .block_slider {
    width: 100%;
  }

  .central .slick-list {
    width: 900px;
  }

  .left1 {
    margin-left: -20px;
  }

  .right1 {
    margin-left: 850px;
  }

  .central .slick-current.slick-active {
    transform: scale(1.15, 1.2);
  }

  .central .slick-slide,
  .central .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
    transform: scale(0.9, 0.9);
  }

  .central .slick-slide {
    margin: 60px 20px;
  }
}

@media(max-width:1000px) {
  .slick-slide {

    width: 380px;
    height: 244px;

  }

  .left {
    top: -153px;

  }

  .right {
    top: -153px;
    margin-left: 330px;

  }

  .central .slick-list {
    width: 750px;

  }

  .block_4_slider {
    width: 750px;
  }

  .right1 {
    margin-left: 700px;
  }
}

@media(max-width:800px) {
  .central .slick-list {
    width: 700px;
  }

  .right1 {
    margin-left: 650px;
  }
}

@media(max-width: 768px) {
  .central .slick-current.slick-active {
    transform: none;
    opacity: 1;
  }

  .central .slick-slide,
  .central .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
    transform: none;
    opacity: 1;
  }

  .slider {
    width: 427px;
  }

  .slick-slide {

    width: 427px;
    height: 274px;
  }

  .left {
    top: 34px;
  }

  .left {
    top: 34px;
    margin-left: 205px;
  }

  .right {
    top: 34px;
    margin-left: 85px;
  }

  .central .slick-list {
    width: 600px;
  }

  .right1 {
    margin-left: 555px;
  }

  .central_slider_price {
    margin-top: 0px;
    top: 370px;

  }
}

@media(max-width:650px) {
  .left {
    margin-left: 137px;
  }

  .block_4_slider {
    width: 450px;
  }

  .central .slick-list {
    width: 450px;
  }

  .central .slick-list {
    width: 300px;
    margin: 0 auto;
  }

  #slider_block4 {
    width: 480px;
  }

  .left1 {
    top: -20px;
    margin-left: 137px;
  }

  .right1 {
    top: -20px;
    margin-left: 85px;
  }
}

@media(max-width:500px) {
  .slick-slide {
    width: 360px;
    height: 226px;
  }

  .slider {
    width: 360px;
  }
}

@media (max-width:425px) {
  .slick-slide {
    width: 300px;
    height: 188px;
  }

  .slider {
    width: 300px;
  }

  #slider_block4 {
    width: 340px;
  }

  .left1 {
    margin-left: 20px;
  }

  .left {
    margin-left: 20px;
  }
}

@media (max-width:367px) {
  .slick-slide {
    width: 290px;
  }

  .slider {
    width: 290px;
  }

  .left {
    margin-left: 58px;
  }

  .central .slick-list {
    width: 290px;
    margin: 0 auto;
  }

  #slider_block4 {
    width: 300px;
  }

  .left1 {
    margin-left: 58px;
  }
}